*{
    box-sizing: border-box;
    z-index: 10;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin:0;
    padding: 0;
    width:100%;
    height:100%;
}

body{
    background: #212121;
}

#game-container{
    width:100%;
    height:100%;
}

#ctx{
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    border: 2px solid orange;
}

#ctx > div{
    padding: 10px;
    color: white;
    width:150px;
    cursor: pointer;
    font-size: 20px;
}

#ctx > div:nth-child(1):hover{
    background: #4caf50;
}

#ctx > div:nth-child(2):hover{
    background: #f44336;
}

#ctx > div:nth-child(3):hover{
    background: #2196f3;
}